.footer {
  padding: 40px 0;
  background-color: $color-solitude-2;

  @include vp-767 {
    padding: 20px 0;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 191px 340px 1fr;
    column-gap: 129px;
    align-items: start;

    @include vp-1023 {
      grid-template-columns: 191px 1fr;
      column-gap: 157px;
    }

    @include vp-767 {
      grid-template-columns: 1fr;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include vp-767 {
      align-items: center;
    }
  }

  &__logo-link {
    display: flex;
    margin: 0 0 40px;

    @include vp-767 {
      width: 98px;
      height: 42px;
      margin: 0 0 31px;
    }
  }

  &__contacts,
  &__phone,
  &__feedback,
  &__location,
  &__right,
  &__policy,
  &__copyright {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__contacts {
    row-gap: 16px;
    margin: 0 0 24px;

    @include vp-767 {
      row-gap: 19px;
      align-items: center;
      margin: 0 0 19px;
    }
  }

  &__phone {
    row-gap: 2px;

    @include vp-767 {
      display: flex;
      align-items: center;
      row-gap: 6px;
    }
  }

  &__phone-link {
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;

    @include vp-767 {
      font-size: 18px;
      line-height: 22px;
    }
  }

  &__phone-link:hover,
  &__phone-link:focus-visible {
    color: $color-royal-blue-1;
  }

  &__phone-text,
  &__feedback-text,
  &__location-text,
  &__policy-link,
  &__copyright-text,
  &__language-link {
    font-size: 13px;
    line-height: 16px;
    color: $color-storm-grey-2;
  }

  &__phone-text,
  &__feedback-text,
  &__location-text,
  &__copyright-text {
    @include vp-767 {
      font-size: 12px;
    }
  }

  &__feedback {
    row-gap: 12px;
    margin: 0 0 24px;

    @include vp-767 {
      align-items: center;
      row-gap: 10px;
      margin: 0 0 21px;
    }
  }

  &__feedback-btn {
    width: 143px;
  }

  &__feedback-btn:hover,
  &__feedback-btn:focus-visible {
    background-color: $color-blue-zodiac;
  }

  &__location {
    row-gap: 8px;

    @include vp-767 {
      row-gap: 4px;
      align-items: center;
    }
  }

  &__location-link {
    display: flex;
    align-items: center;
    column-gap: 4px;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    color: $color-royal-blue-1;

    @include vp-767 {
      font-size: 12px;
    }
  }

  &__location-link:hover,
  &__location-link:focus-visible {
    color: $color-royal-blue-2;
  }

  &__nav-list {
    display: grid;
    grid-template-columns: repeat(2, 140px);
    gap: 16px 60px;
    margin: 0;
    padding: 20px 0 0;
    list-style: none;

    @include vp-1023 {
      display: none;
    }
  }

  &__nav-link {
    font-size: 14px;
    line-height: 18px;
  }

  &__nav-link:hover,
  &__nav-link:focus-visible {
    color: $color-royal-blue-1;
  }

  &__right {
    padding: 20px 40px 0 51px;

    @include vp-1023 {
      padding: 18px 0 0;
    }

    @include vp-767 {
      padding: 40px 0 0;
      text-align: center;
      align-items: center;
    }
  }

  &__policy {
    row-gap: 12px;
    margin: 0 0 32px;

    @include vp-767 {
      display: none;
    }
  }

  &__socials {
    margin: 0 0 32px;
  }

  .socials.footer__socials {
    @include vp-767 {
      display: none;
    }
  }

  &__copyright {
    row-gap: 12px;
    margin: 0 0 20px;
  }

  &__copyright-text {
    margin: 0;

    @include vp-767 {
      padding: 0 10px;
    }
  }

  &__copyright-date {
    font-size: 10px;
    line-height: 12px;
    color: $color-storm-grey-3;

    @include vp-767 {
      display: block;
      margin: auto;
    }
  }

  &__language-link {
    display: flex;
    align-items: center;
    column-gap: 8px;
  }

  &__language-link:hover,
  &__language-link:focus-visible {
    color: $color-black-russian;
  }
}
